h1{
    text-align: center;
  }

nav{
    background-color: black;
    color: white;
}

nav > ul > li { 
    display: inline-block;
  }

nav > ul > li > a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-weight: bold;
}

nav > ul > li > p{
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  font-weight: bold;
}

nav > ul > li:hover > a {
    background-color: white;
    color: black;
    text-decoration: none;
}

.float_right{
  float: right;
}
footer{
  background-color: lightgray;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.about_img{
  background-image: url(https://cdn.pixabay.com/photo/2015/06/24/15/45/code-820275_1280.jpg);
  height: 500px;
  background-repeat: no-repeat;
}